@import './common.css';

#wrap{
  width: 100%;
    height: 100vh;
}

.form_wrap{
	height:100%; 
	position:relative;
	margin-top:130px;
}
.form_wrap .form_area{
	width:550px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

	padding:65px 90px 65px;
	border-radius:20px;
	box-shadow:0 20px 30px rgba(225,225,225, .7), 0 -5px 10px rgba(225,225,225, .7);
	background: #fff;
}
.form_area form .tabMenu{
	margin-bottom:20px;
}
.form_area form .tabMenu ul{
	display:flex;
}
.form_area form .tabMenu ul li{
	width:50%;
	text-align:center;
	background:#fff;
}
.form_area form .tabMenu ul li a{
	display:flex;
	align-items:center;
	justify-content:center;
	color: #333;
	border:1px solid #999;
	height:50px;
	font-weight:500;

}
.form_area form .tabMenu ul li:nth-of-type(1) a{
	border-right:none;
}
.form_area form .tabMenu ul li:nth-of-type(2) a{
	border-left:none;
}
 /* tab 메뉴를 클릭했을때 li에 on클래스 추가*/
.form_area form .tabMenu ul li.on{
	background:#00519f;
}
.form_area form .tabMenu ul li.on a{
	color:#fff;
}

/*.form_area form .text{margin-bottom:20px;}*/
.form_area form .text ul{text-align:center}
.form_area form .text ul li{
	display:none;
}
.form_area form .text ul li p:nth-of-type(1){
	font-size:1.1em;
	margin-bottom:5px;
} 
.form_area form .text ul li p:nth-of-type(2){
	font-size:.9em;
	color:#666;
} 
.form_area form .text ul li.on{
	display:block;
}

/*.form_area form .input_area{}*/
.form_area form .input_area .input_wrap{
	display:none;
	}
.form_area form .input_area .input_wrap.on{
	display:block;
}
.form_area form .input_area input#userId,
.form_area form .input_area input#userName,
.form_area form .input_area input#birthDate,
.form_area form .input_area input#phoneNum{
	width:100%;
	height:50px;
	margin-top:10px;
	padding: 0 20px;
	outline:none;
}
.form_area form .input_area input#phoneNum{
	width:75%;
}
.form_area form .input_area .check_btn{
	width:23.5%;
	height:50px;
	margin-top:10px;
	border-radius: 5px;
	color: #fff;
	border: 1px solid #00519f;
	background-color: #00519f;
}
.form_area form .input_area .user_name,
.form_area form .input_area .date,
.form_area form .input_area .user_id,
.form_area form .input_area .phone_num,
.form_area form .input_area .etc_btn{
	margin-top:30px;
}
.form_area form .input_area .etc_btn{
	display:flex;
	gap:10px;
	justify-content:space-between;
}
.form_area form .input_area .etc_btn a.cancel_btn{
	width:calc(50% - 10px);
	display:flex;
	height:50px;
	align-items:center;
	justify-content:center;
	border-radius:5px;
	border: 1px solid #a3b1b7;
}
.form_area form .input_area .etc_btn .check_btn2{
	width:calc(50% - 10px);
	height:50px;
	border-radius:5px;
	border: 1px solid #00519f;
	background-color: #00519f;
	color:#fff;
}
