@import 'common.css';

/* 헤더 영역 */
header{
  display: grid;
  grid-template-columns: 250px auto 400px;
  grid-column-gap: 20px;
  height: 70px;
  grid-area: he;
  background-color: #445760;
}
header h1{width: 170px; margin-left: 70px; margin-top: 10px;}
header h1 a{ display: block;} 
header h1 a img{width: 100%;}
header .total-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 20px;
}
.search-area form{display: flex; align-items: center; position: relative;}
.total-search select,.total-search .search-area form input{ width: 150px; height: 40px; cursor: pointer; padding: 5px 20px 5px 10px; border-radius: 5px;}
.total-search .search-area form input{position: relative; width: 200px; border: 0;}
.search-area form button {display: block;position: absolute; right: 4%; top: 50%; transform: translate(-4%, -50%); cursor: pointer; background-color: #fff;}
.search-area form button::before{content: ''; display: block; background: url(../images/search.png) no-repeat; background-size: contain; width: 25px; height: 25px;}
.etc-area{display: flex; justify-content: flex-end; align-items: center; padding-right: 40px;text-align: center;}
.etc-area li:first-child{color: #fff; font-size: 0.9em; padding-right: 15px;}
.etc-area li:last-child{width: 40px; padding: 5px 0;}
.etc-area li:last-child a{display: block;}
.etc-area li:last-child a img{width: 100%;}
/* 헤더 영역 end*/


/* 좌측 gnb 영역 */
.sideNav{ grid-area: na; background-color: #fff; position: relative; border-right: 1px solid #ccc;}
.sideNav .menu{display: block; width: 50px; height: 50px; position: absolute; top: -60px; left: 5px; font-size: 30px; text-align: center; border-radius: 50%; transition: all .5s;}
.sideNav div{display: grid; grid-template-columns: 60px 1fr; height: 100%;}
.sideNav-icon{display: flex; flex-direction: column; align-items: center; border-right: 1px solid #666; background: #f5f8fe;}
.sideNav-icon .icon-list{margin: 10px 0px 0px;}
.sideNav-icon .icon-list a{display: block; padding: 15px 18px; transition: all .3s ease-in-out;}
.sideNav-icon .icon-list a img{width: 20px;}
.sideNav-icon .icon-list a:active img{ position: relative; top: 3px;}
        /* 햄버거 메뉴 영역 */
.sideNav .menu img{width: 25px; padding: 12px 0;}
.sideNav .menu:hover{border: 1px solid #fff; transform: rotate(180deg);}
       /* 햄버거 메뉴 영역 end */
.sideNav .sideNav-area{
  padding: 20px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.sideNav .sideNav-area .list-title{
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}
.sideNav .sideNav-area .menu-list{margin-bottom: 5px; font-size: 14px;}
.sideNav .sideNav-area .menu-list .on{color: #435ffe;;}
/* 좌측 gnb 영역 end*/


/* 본문 main 영역 */
main{height: 100%; min-width: 1500px; background-color: #fff; grid-area: ma; position: relative; font-family: 'Nanum Gothic','Noto Sans KR', sans-serif; padding-bottom: 200px;}
.dash-board{position: sticky; top: 0; border-bottom: 1px solid #dedede; width: 100%; height: 60px; padding-left: 40px; display: grid; grid-template-columns: auto 200px; align-items: center;background-color: #fcfcfc; z-index: 1;}
.dash-board p{display: inline-block; }
.dash-board p:nth-of-type(2){text-align: right; padding-right: 40px;}
.dash-board p:nth-of-type(2) span:nth-of-type(1){color: #ff8605;}
.dash-board p:nth-of-type(2) span:nth-of-type(2){color: #12b4f0;}

section{margin: 0 30px;}
.guide{margin-top: 15px; padding: 10px; box-shadow: 0 1px 5px 0 rgba(107, 119, 17, .3); background: #ededed;}
.guide li span{display: inline-block; padding-left: 10px; line-height: 2; color: #666; font-size: 13px;}

     /* 본문 중 바뀌는 영역 */
.table-area{margin: 40px 20px 0 0; }
.table-area h3{ font-size: 1.3em; font-weight: 700; position: relative}
.table-area table{width: 100%; margin: 20px 0 50px; border: 1px solid #dedede; border-collapse:collapse; font-size: 13px;}

.table-area table tr th{ width: 170px; border-right: 1px solid #dedede; font-weight: 400; background: #fcfcfc; color: #666;}
.table-area table tr th span{position: relative;}
.table-area table tr th span::after, .table-area h3 span::after{content: ''; display: block; width:5px; height: 5px; border-radius: 50%; background-color: red; position: absolute; top: 50%; right: -15px; transform: translateY(-50%);}
.table-area table tr th, .table-area table tr td{padding: 10px 30px; border-bottom: 1px solid #dedede; text-align: left;}

.table-area table .client-kind td span, .table-area table .client-type td span{margin-right: 20px;} 
.table-area table .company-name td input, .table-area table .company-number td input, .table-area table .zone td select {width: 300px; height: 40px; padding: 10px 20px;}
.table-area table .company-number td{display: flex; align-items: center; gap: 10px;}
.table-area table tr td label{width: 150px; height: 40px; padding: 7px; display: block; text-align: center; border: 1px solid #445760; background-color: #445760; color: #fff; cursor: pointer;}

.table-area table tr:last-child th, .table-area table tr:last-child td{border-bottom: none;}
.table-area table tr:last-child td{display: grid; grid-template-columns: 150px 150px 500px; grid-gap: 10px 10px;}
.table-area table tr:last-child td input{height: 40px;
   /* text-align: center;  */  cursor: pointer;}
.table-area table tr:last-child td input:last-child{grid-column: 1/4;  padding-left: 20px;}

.table-area .table-btn{display: flex; align-items: center; justify-content: center; gap: 50px;}
.table-area .table-btn button{width: 200px; height: 50px; border: 1px solid #445760; background-color: #445760; color: #fff; border-radius: 5px; cursor: pointer;}
.table-area .table-btn .reset{border: 1px solid #999; background-color: #999;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{ 
  -webkit-appearance: none; margin: 0;
}
input:focus { outline:none;} 
input::-webkit-input-placeholder{text-align: center;}
  /* 본문 중 바뀌는 영역 end */

/* 본문 main 영역 end*/


/* footer 영역 */
#footerArea{padding: 25px 0 15px; text-align: center; color: #999; font-size: 0.8em; background:#f3f3f3; line-height: 1.6;   grid-area: fo; position: relative;}
.address{ font-family: 'Nanum Gothic', sans-serif; font-style: normal;}
.copyright{color: #999; font-size: 12px;}
.topMove{width: 50px; height: 50px; position: fixed; right: 15px; bottom: 100px; border-radius: 50%; border: 1px solid #183153; background: #183153; cursor: pointer; z-index: 10;}
.topMove img{width: 30px;padding-top: 8px; transition: all .5s ease-in-out;}
.topMove:hover img{padding-top: 5px;}
/* footer 영역 end */