* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  background-color: #fff;
}
#wrap{
  width: 100%;
  max-width: 400px;
  background-color: #ffe8ad;
  text-align: center;
  padding: 30px 20px;
}

#todoForm{
  margin-bottom: 20px;
}
#todoForm #todo{
  width: calc(100% - 45px);
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
}
#todoForm #todo:focus{
  outline: none;
}
#todoForm #addBtn{
  position: relative;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #242423;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}
#todoForm #addBtn span{
  display: block;
  width: 2px;
  height: 15px;
  background-color: #FFE8AD;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
#todoForm #addBtn span:last-child{
  transform: translate(-50%,-50%) rotate(-90deg);
}


/* todoList 하위 css */

#todoList li{
  list-style: none;
  text-align: left;
  width: 100%;
  padding-left: 10px;
}
#todoList li button{
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}